.addForm {
    width: 50%;
    margin-left: 25vw;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'K2D', sans-serif;
}

.addForm label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #a9a9a9;
    text-transform: uppercase;
    font-weight: 500;
}

.addForm input, .addForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    outline: none;
}

.addForm input::placeholder {
    color: #888;
}

.addForm select {
    background-color: #444444;
    cursor: pointer;
}

.addForm button {
    display: inline-block;
    width: calc(33.3% - 10px);
    margin: 10px 5px 0 0;
    padding: 10px;
    background-color: #8E51D0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.addForm button:hover {
    background-color: #a166e0;
}

.addForm #color-field {
    display: none; /* Ce champ sera affiché uniquement si nécessaire */
}

.addForm #color-field label,
.addForm #color-field input {
    display: block;
}

.addForm input[type="file"] {
    background-color: transparent;
    color: white;
    border: 1px dashed #8E51D0;
    text-align: center;
    cursor: pointer;
}

.addForm button:last-child {
    margin-right: 0;
}


/* Pour un comportement responsive */
@media screen and (max-width: 768px) {
    .addForm {
        width: 95%;
    }

    .addForm button {
        width: 100%;
        margin-bottom: 10px;
    }
}