/* Enlève les marges et paddings par défaut */
body, html {
  font-family: k2d, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Choisissez une police adaptée */
  background-color: #000000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.overlap-group {
  font-family: k2d, sans-serif;
  display: flex;
  align-items: center;
  width: 85%;
}

.overlap-group {
  font-family: k2d, sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
}

.overlap-group-2 {
  font-family: k2d, sans-serif;
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 20%;
}

.logo {
  height: 50px;
  margin-right: 15px;
}

.theme-claire {
  font-size: 18px;
  color: white;
  margin-left: 10px;
}

.material-symbols-outlined {
  font-size: 40px;
  color: white;
  margin-left: 20px;
}

.mon-compte {
  font-size: 20px;
  color: white;
  margin-left: 5px;
}





.overlap-group-3 {
  font-family: k2d, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-top: 15px;
  margin-left: 1000px;
  width: 45%;
  justify-content: space-between;
}


@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&display=swap');




a.presentation {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.presentation:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.evenement {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.evenement.visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.calendrier {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.calendrier:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.galerie {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.galerie:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.boutique {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.boutique:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}



footer .bandeau1{
  display: flex;
  justify-content: space-between;
  margin-right: 550px;
}

.img .logoF{
    height: 150px;
    width: 150px;
}

footer .bandeau1 .Contact{
  font-family: k2d, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 150px;
}

footer .bandeau1 .Mention-legal{
  font-family: k2d, sans-serif;
  font-size: 25px;
  color: white;

  margin-top: 150px;
}

footer .bandeau1 .FAQ{
  font-family: k2d, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 150px;
}

footer .icons-resaux{
  justify-content: space-between;
  display: flex;
  margin-right: 1500px;
  margin-left: 15px;
  margin-top: 10px;
}

footer .icons-resaux img{
    height: 50px;
    width: 50px;
}

footer .bandeau2{
  display: flex;
  justify-content: space-between;
  font-family: k2d, sans-serif;
  font-size: 17px;
  color: white;
  margin-top: 20px;
  margin-right: 400px;
  margin-left: 400px;
}

