@import url('https://fonts.googleapis.com/css2?family=K2D:wght@3000;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Enlève les marges et paddings par défaut */
body, html {
  font-family: k2d, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Choisissez une police adaptée */
  background-color: #000000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  width: 100dvw;
  font-size: 1.5em;
  text-align: center;
}

.overlap-group {
  font-family: k2d, sans-serif;
    display: flex;
    align-items: center;
    width: 80%;
    margin-right: 20px;
}

.overlap-group-2 {
  font-family: k2d, sans-serif;
  display: flex;
  align-items: center;
  width: 20%;
}

.logo {
  height: 3rem;
  margin-right: 15px;
}

.theme-claire {
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

header span.material-symbols-outlined {
  font-size: 2.5rem;
  color: white;
  margin-left: auto;

}

.mon-compte {
  color: white;
  margin-left: 5px;
}

.overlap-group-3 {
  font-family: k2d, sans-serif;
  /* font-size: 2rem; */
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  /* padding-top: 15px; */
  margin-left: auto;
  margin-right: 0.5rem;
  width: 50%;
  justify-content: space-between;
}

.overlap-group-3 form button {
  font-size: 1.25rem;
}




footer .bandeau1{
  display: flex;
  justify-content: space-between;
  margin-right: 550px;
}

#logoF{
    height: 25dvh;
    width: auto;
}

footer .bandeau1 .Contact{
  font-family: k2d, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 150px;
}

footer .bandeau1 .Mention-legal{
  font-family: k2d, sans-serif;
  font-size: 25px;
  color: white;

  margin-top: 150px;
}

footer .bandeau1 .FAQ{
  font-family: k2d, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 150px;
}

footer .icons-resaux{
  justify-content: space-between;
  display: flex;
  margin-right: 1500px;
  margin-left: 15px;
  margin-top: 10px;
}

footer .icons-resaux img{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

footer .bandeau2{
  display: flex;
  justify-content: space-between;
  font-family: k2d, sans-serif;
  font-size: 17px;
  color: white;
  margin-top: 20px;
  margin-right: 400px;
  margin-left: 400px;
}

