@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
  color: #ffffff;
}

/* Enlève les marges et paddings par défaut */
body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  width: 100dvw;
  font-size: 1.5em;
  text-align: center;
}

.overlap-group {
    display: flex;
    align-items: center;
    width: 80%;
    margin-right: 20px;
}

.overlap-group-2 {
  display: flex;
  align-items: center;
  width: 20%;
}

.logo {
  height: 3rem;
  margin-right: 15px;
}

.theme-claire {
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

#myForm {
  margin-left: 3vw;
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
  justify-content: flex-start; /* Aligne les éléments sur la gauche */
  gap: 15px; /* Ajoute de l'espacement entre le logo et le texte */
}

#myForm a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
}

#myForm a h4{
  font-weight: normal;
}


span.material-symbols-outlined {
  font-size: 2.5rem;
  color: white;
  margin-left: auto;
}

.mon-compte {
  color: white;
  margin-left: 5px;
}

.overlap-group-3 {
  /* font-size: 2rem; */
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  /* padding-top: 15px; */
  margin-left: auto;
  margin-right: 0.5rem;
  width: 50%;
  justify-content: space-between;
}

.overlap-group-3 form button {
  font-size: 1.25rem;
}



.overlap-group-5 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-top: 60px;
  width: 100%;
  justify-content: center;
}


footer .bandeau1{
  display: flex;
  justify-content: space-between;
  margin-right: 550px;
}

#logoF{
    height: 25dvh;
    width: auto;
}

footer .bandeau1 .Contact{
  font-size: 25px;
  color: white;
  margin-top: 150px;
}

footer .bandeau1 .Mention-legal{
  font-size: 25px;
  color: white;

  margin-top: 150px;
}

footer .bandeau1 .FAQ{
  font-size: 25px;
  color: white;
  margin-top: 150px;
}

footer .icons-resaux{
  justify-content: space-between;
  display: flex;
  margin-right: 1500px;
  margin-left: 15px;
  margin-top: 10px;
}

footer .icons-resaux img{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

footer .bandeau2{
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: white;
  margin-top: 20px;
  margin-right: 400px;
  margin-left: 400px;
}

.Contact a {
  text-decoration: none;
}