* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile{
    font-family: k2d,sans-serif;
    margin:50px auto;
    padding: 30px;
    background-color: #1c1c1c;
    color: white;
    border-radius: 15px;
    width: 80%;
    box-shadoW: 0 4px 10px rgba(0,0,0,0.5);
}

.titreProfil p{
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.haut{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.info{
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.prengrade{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.prenomnom{
    display: flex;
    align-items: center;
    gap : 15px;
}



.prenomnom p{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.grade{
    
    margin-right: 15px;
}

.grade img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.role p{
    font-size: 18px;
    font-style: italic;
    color: #aaa;
}


.bouton{
    display:flex;
    gap: 10px;
}

.changemdp button {
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: #8E51D0;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.changemdp button:hover {
    background: white;
    color: #8E51D0;
    transform: scale(1.05);
    
}

/* Formulaire */
form {
    margin: 20px 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8E51D0;
    border-radius: 10px;
    background: #fff;
    color: #000;
}

.input-group input::placeholder {
    color: #aaa;
    font-style: italic;
}

.input-group input:focus {
    outline: none;
    border-color: #fff;
}

.envoyer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px; /* Ajustez la valeur selon vos besoins */

}
.envoyer button {
    width: auto;
    padding: 8px 16px;
    font-size: 18px;
    align-items: center;
    border: none;
    background: #8E51D0;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.envoyer button:hover {
    background: white;
    color: #8E51D0;
    transform: scale(1.05);
}

/* Section des événements */
.event {
    margin-top: 30px;
    padding: 20px;
    background: #1c1c1c;
    border-radius: 15px;
}

.titreEvent{
   font-size: 28px;
   font-weight: bold;
   text-align:left;
   color: white;
   margin-bottom: 20px;
   text-transform: uppercase;
}

.afficheevent{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width:100%;
    margin-bottom: 15px;
    margin-right: 15px;
}

.imgnom{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.imgevent {
    text-align: center;
    max-width: 300px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.imgevent img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.nomEvent {
    font-size: 16px;
    color: #aaa;
    text-align: center;
    margin-top: 5px;
}

.supprimer button{
    background-color: #8E51D0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition:  background-color 0.3s ease, transform 0.2s ease;
    font-family: k2d, sans-serif;
}
.supprimer button:hover {
    background-color: #8E51D8;
    transform: scale(1.05); /* Légère mise en avant au survol */
}