/* Conteneur principal */
.container {
    font-family: 'K2D', sans-serif;
    margin-top: 20px;
    width: 80%;
    max-width: 60vw;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Titre principal */
.titre {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 4px solid #8E51D0;
    display: inline-block;
    padding-bottom: 10px;
}

/* Formulaire de mise à jour */
.formulaire form {
    margin-top: 50px;
    background-color: #444;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.formulaire label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.formulaire form input[type="text"],
.formulaire form input[type="number"],
.formulaire form input[type="file"],
.formulaire form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.formulaire form button {
    font-family: 'K2D', sans-serif;
    padding: 10px 20px;
    background-color: #6c38f7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulaire form button:hover {
    background-color: #5433c9;
}

/* Bouton de suppression */
.formulaire .form .delete-button {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formulaire form .delete-button:hover {
    background-color: #ffffff;
    color: red;
}

/* Image actuelle */
img {
    margin-top: 20px;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}