@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'K2D', sans-serif;
    background-color: #000;
    color: #fff;
}

.overlap-group-3 {
    font-family: k2d, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-left: 1000px;
    width: 45%;
    justify-content: space-between;
  }


a.presentation {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.presentation:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.evenement {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.evenement.visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.calendrier {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.calendrier:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.galerie {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.galerie:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.boutique {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.boutique:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

/* Réinitialise les marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base pour le corps et le HTML */
body, html {
    color: white;
    font-family: 'K2D', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Couleur d'arrière-plan */
}

/* Conteneur principal */
.container {
    font-family: 'K2D', sans-serif;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Centre le contenu horizontalement */
}

/* Titre principal */
.titre {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-align: center; /* Centre le texte horizontalement */
    margin: 0 auto 30px auto; /* Centre le conteneur et ajoute une marge en bas */
    border-bottom: 4px solid #8E51D0;
    display: inline-block;
    padding-bottom: 10px;
}

/* Galerie d'images */
.image-gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.first-img img {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
}

/* Détails de l'événement */
.event-details {
    text-align: center;
    margin-bottom: 20px;
}

.event-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    margin-bottom: 10px;
}

.capacite{
    font-size: 16px;
    margin-bottom: 10px;
}

.lieu{
    font-size: 16px;
    margin-bottom: 10px;
}

.date{
    font-size: 16px;
    margin-bottom: 10px;
}

.price {
    font-size: 25px;
    color: #ffffff;
}


/* Boutons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.param, .inscrire {
    padding: 10px 20px;
    background-color: #6c38f7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 40px;
}

.param:hover, .inscrire:hover {
    background-color: #6444d8;
}

.inscrire {
    margin-right: 0; /* Supprime la marge droite pour le dernier bouton */
}


footer .bandeau1{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 550px;
  }
  
  .img .logoF{
      height: 150px;
      width: 150px;
  }
  
  footer .bandeau1 .Contact{
    font-family: k2d, sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 150px;
  }
  
  footer .bandeau1 .Mention-legal{
    font-family: k2d, sans-serif;
    font-size: 25px;
    color: white;
  
    margin-top: 150px;
  }
  
  footer .bandeau1 .FAQ{
    font-family: k2d, sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 150px;
  }
  
  
  footer .icons-resaux{
    justify-content: space-between;
    display: flex;
    margin-right: 1500px;
    margin-left: 15px;
    margin-top: 10px;
  }
  
  footer .icons-resaux img{
      height: 50px;
      width: 50px;
  }
  
  footer .bandeau2{
    display: flex;
    justify-content: space-between;
    font-family: k2d, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-right: 400px;
    margin-left: 400px;
  }

  footer .bandeau2 .p-footer{
    font-size: 17px;
  }