@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&display=swap');


.overlap-group-3 {
    font-family: k2d, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-left: 1000px;
    width: 45%;
    justify-content: space-between;
  }


a.presentation {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.presentation:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.evenement {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.evenement.visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.calendrier {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.calendrier:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.galerie {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.galerie:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.boutique {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.boutique:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

/* Isolation du slider */
.slider-container {
  width: 600px;
  height: 400px;
  overflow: hidden; /* Empêche les éléments débordants */
  margin: 20px auto; /* Centre le slider horizontalement */
  position: relative;
}

.slider {
  display: flex;
  height: 100%;
  animation: slide-animation 15s infinite linear; /* Animation des slides */
}

.slide {
  flex-shrink: 0;
  width: 600px; /* Largeur de chaque slide */
  height: 400px; /* Hauteur de chaque slide */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adapte l'image à la taille de chaque slide */
}



footer .bandeau1 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-right: 550px;
}

.img .logoF {
  height: 150px;
  width: 150px;
}






footer .bandeau1{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 550px;
  }
  
  .img .logoF{
      height: 150px;
      width: 150px;
  }
  
  footer .bandeau1 .Contact{
    font-family: k2d, sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 150px;
  }
  
  footer .bandeau1 .Mention-legal{
    font-family: k2d, sans-serif;
    font-size: 25px;
    color: white;
  
    margin-top: 150px;
  }
  
  footer .bandeau1 .FAQ{
    font-family: k2d, sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 150px;
  }
  
  
  footer .icons-resaux{
    justify-content: space-between;
    display: flex;
    margin-right: 1500px;
    margin-left: 15px;
    margin-top: 10px;
  }
  
  footer .icons-resaux img{
      height: 50px;
      width: 50px;
  }
  
  footer .bandeau2{
    display: flex;
    justify-content: space-between;
    font-family: k2d, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-right: 400px;
    margin-left: 400px;
  }

  footer .bandeau2 .p-footer{
    font-size: 17px;
  }