@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&display=swap');

/* Enlève les marges et paddings par défaut */
body, html {
    color: white;
    font-family: 'K2D', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Couleur d'arrière-plan */
    display: flex;
  }

.menu{
    background: linear-gradient(180deg, #8E51D0 60%, #050505 95%, #000000 100%);
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 80vh;
}

.logo-theme{
    display: flex;
    flex-direction: row;
}

.compte{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.compte a{
    text-decoration: none;
}
  .overlap-group {
    font-family: k2d, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
   
  .logo {
    height: 50px;
    margin-right: 15px;
  }
  
  .theme-claire {
    font-size: 18px;
    color: white;
    margin-left: 10px;
    margin-right: 50px;
  }
  
  .material-symbols-outlined {
    font-size: 40px;
    color: white;
    margin-right: 20px;
  }
  
  .mon-compte {
    font-size: 20px;
    color: white;
    margin-right: 5px;
  }
  
  
  .overlap-group-3 {
    font-family: k2d, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: flex-start; /* Aligne les éléments au début de la colonne */
    gap: 30px;
    padding-top: 15px;
    justify-content: space-between;
  }


a.tableau {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.tableau:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.calendrier {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.calendrier.visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.profils {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.profils:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.tresorie {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.tresorie:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}
a.parametres {
  color: inherit; /* Utilise la couleur héritée */
  text-decoration: none; /* Supprime le soulignement */
}

a.parametres:visited {
  color: inherit; /* Utilise la couleur héritée pour les liens visités */
}

a.editer {
    color: inherit; /* Utilise la couleur héritée */
    text-decoration: none; /* Supprime le soulignement */
  }
  
  a.editer:visited {
    color: inherit; /* Utilise la couleur héritée pour les liens visités */
  }

  form {
    width: 80%;
    margin: 40px auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'K2D', sans-serif;
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #a9a9a9;
    text-transform: uppercase;
    font-weight: 500;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    outline: none;
}

form input::placeholder {
    color: #888;
}

form select {
    background-color: #444444;
    cursor: pointer;
}

form button {
    display: inline-block;
    width: calc(33.3% - 10px);
    margin: 10px 5px 0 0;
    padding: 10px;
    background-color: #8E51D0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    background-color: #a166e0;
}

form #color-field {
    display: none; /* Ce champ sera affiché uniquement si nécessaire */
}

form #color-field label,
form #color-field input {
    display: block;
}

form input[type="file"] {
    background-color: transparent;
    color: white;
    border: 1px dashed #8E51D0;
    text-align: center;
    cursor: pointer;
}

form button:last-child {
    margin-right: 0;
}


/* Pour un comportement responsive */
@media screen and (max-width: 768px) {
    form {
        width: 95%;
    }

    form button {
        width: 100%;
        margin-bottom: 10px;
    }
}